@font-face {
    font-family: MYRIADPRO;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: UTMFLAVOUR;
    src: url(../fonts/UTM-Flavour.ttf);
}

@font-face {
    font-family: AVERTA;
    src: url(../fonts/Averta.otf);
}

@font-face {
    font-family: AVERTATHINITALIC;
    src: url(../fonts/Averta-ThinItalic.otf);
}

@font-face {
    font-family: AVERTAREGULAR;
    src: url(../fonts/Averta-Regular.otf);
}

@font-face {
    font-family: AVERTABOLD;
    src: url(../fonts/Averta-Bold.otf);
}

@font-face {
    font-family: AVERTALIGHT;
    src: url(../fonts/Averta-Light.otf);
}

@font-face {
    font-family: AVERTALIGHTITALIC;
    src: url(../fonts/Averta-LightItalic.otf);
}

@font-face {
    font-family: AVERTAEXTRATHIN;
    src: url(../fonts/Averta-Extrathin.otf);
}

body {
	margin: 0;
	padding: 0;
	footer {
		background: #029a47;
		height: 44px;
		.social-list {
			margin-right: 280px;
			float: right;
			padding-top: 10px;
			img {
				height: 30px;
			}
		}
	}
	#prize-container {
		padding-top: 50px;
		width: 900px;
		margin: auto;
		background: white;
		overflow: auto;
		.intro {
			.intro-item {
				float: left;
				text-align: center;
				width: 20%;
			}
			.intro-title {
				font-family: AVERTAREGULAR;
				color: #034910;
				font-size: 12px;
			}
			.intro-4 {
				img {
					height: 80px;
					margin-top: 10px;
				}
			}
			.intro-3 {
				img {
					height: 90px;
				}
			}
			.intro-2 {
				img {
					height: 100px;
				}
				p {
					margin-top: 4px;
				}
			}
			.intro-1 {
				width: 40%;
				img {
					height: 70px;
					margin-top: 20px;
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
		.prize {
			clear: both;
			padding-top: 1px;
			.prize-item {
				float: left;
				text-align: center;
				width: 25%;
			}
			.prize-title {
				font-family: AVERTAREGULAR;
				color: #029a1a;
				font-size: 22px;
				margin-bottom: 0;
			}
			.prize-title-sub {
				font-family: AVERTAREGULAR;
				color: #029a1a;
				margin-top: 4px;
				font-size: 14px;
			}
			.title-prize {
				font-family: MYRIADPRO;
				font-size: 16px;
				margin-bottom: 60px;
				margin-top: 60px;
			}
			.prize-1 {
				img {
					width: 140px;
					margin-top: -10px;
				}
			}
			.prize-2 {
				img {
					height: 120px;
				}
			}
			.prize-3 {
				img {
					height: 80px;
    				margin-top: 40px;
				}
			}
			.prize-4 {
				img {
					height: 120px;
				}
				.prize-title-sub {
					font-size: 12px;
				}
			}
			.prize-demo-text {
				font-family: AVERTALIGHTITALIC;
				color: #838383;
				text-align: center;
				font-size: 16px;
			}
			.prize-rule {
				font-family: AVERTABOLD;
				color: #029a1a;
				text-align: center;
				text-transform: uppercase;
				font-size: 24px;
    			margin-top: 60px;
			}
		}
	}
	#join-container {
		background-image: url(../image/join_background.png);
		height: 600px;
		position: relative;
		.flower-join-1 {
		    position: absolute;
		    top: 0;
		    right: 0;
		    height: 340px;
		}
		.flower-join-2 {
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    height: 300px;
		}
		.join-box {
			width: 580px;
			background: white;
			border-radius: 4px;
			padding: 20px 50px 30px 30px;
			position: absolute;
	    	top: 60px;
	    	left: 200px;
			.join-box-title {
				background: #bdda90;
				color: white;
				font-family: AVERTAREGULAR;
				display: inline-block;
			    width: 200px;
			    padding-left: 10px;
			    padding-top: 4px;
			    padding-bottom: 4px;
			    border-radius: 4px;
			    margin-bottom: 15px;
			    font-size: 18px;
			}
			p {
				color: #a5a5a5;
				font-family: AVERTAREGULAR;
				font-size: 12px;
				margin-top: 4px;
				margin-bottom: 4px;
				line-height: 14px;
				a {
					color: #3b96f7;
				}
			}
		}
		.join-box-2 {
			top: 370px;
    		right: 280px;
    		left: auto;
    		p {
    			color: #a5a5a5;
    		}
    		.bottle-join-box {
    			position: absolute;
			    height: 180px;
			    left: -160px;
			    top: 30px;
    		}
		}
		.ball-join-1 {
			position: absolute;
		    height: 105px;
		    right: -145px;
		    top: 75px;
		    z-index: 1;
		}
		.ball-join-2 {
			position: absolute;
		    height: 140px;
		    top: 135px;
		    right: -105px;
		}
		.leaf-join-1 {
			height: 110px;
		    position: absolute;
		    top: 160px;
		    right: -75px;
		}
		.leaf-join-2 {
			position: absolute;
		    height: 75px;
		    right: -130px;
		    top: 95px;
		    z-index: 1;
		}
	}
	#information-user {
		background-image: url(../image/background_information_user.png);
		background-size: cover;
		height: 320px;
		padding-top: 20px;
		position: relative;
		.validate-error {
			color: #f92020;
		    text-align: center;
		    margin: 0;
		    margin-top: 8px;
		    font-family: MYRIADPRO;
		    display: none;
		}
		.arrow-down {
			margin: auto;
		    display: block;
		    width: 28px;
		    position: absolute;
		    bottom: 15px;
		    left: calc(50% - 14px);
		}
		.btn-complete {
			background: #029a1a;
			font-family: AVERTAEXTRATHIN;
			color: white;
			width: 280px;
		    text-align: center;
		    margin: auto;
		    height: 30px;
		    line-height: 30px;
		    border-radius: 4px;
		    font-size: 18px;
		    cursor: pointer;
		    margin-top: 20px;
		}
		.title-information {
			color: #029a1a;
			font-family: AVERTABOLD;
			text-transform: uppercase;
			text-align: center;
			font-size: 22px;
		}
		.box-input {
			margin-bottom: 10px;
			span {
				font-family: AVERTALIGHT;
				color: #015d12;
				display: block;
				font-size: 13px;
				text-align: left;
    			padding-left: 35px;
    			margin-bottom: 4px;
			}
			input {
				background: white;
			    border: none;
			    border-radius: 2px;
			    height: 25px;
			    width: 280px;
			    padding-left: 10px;
			    padding-right: 10px;
			    outline: none;
			    font-family: AVERTALIGHT;
			}
		}
		form {
			width: 700px;
		    margin: auto;
		    overflow: auto;
		    margin-top: 20px;
		    .form-group-left, .form-group-right {
		    	width: 50%;
		    	float: left;
		    	text-align: center;
		    }
		}
		.box-input-item {
			span {
				font-family: AVERTALIGHT;
				color: #015d12;
				display: block;
				font-size: 13px;
				text-align: left;
				margin-bottom: 4px;
			}

			input {
				font-family: AVERTALIGHT;
				background: white;
			    border: none;
			    border-radius: 2px;
			    height: 25px;
			    width: 170px;
			    padding-left: 10px;
			    padding-right: 10px;
			    outline: none;
			}
		}
		.cmnd {
			float: right;
    		margin-right: 25px;
    		input {
    			width: 80px;
    		}
		}
	}
	#question-container {
		overflow: auto;
		padding-bottom: 15px;
		position: relative;
		.header-image-4 {
			position: absolute;
		    height: 540px;
		    bottom: 0;
		    z-index: -1;
		}
		.question-intro {
			background-color: #dbebc2;
		    padding: 15px 20px;
		    color: #073a0f;
		    font-family: AVERTALIGHTITALIC;
		    font-size: 14px;
		    text-align: center;
		}
		// background: gray;
		.question-box-container {
			width: 850px;
			margin: auto;
		}
		.box-question-container {
			width: 360px;
		}
		.result-question-title {
			color: #034910;
			font-family: AVERTATHINITALIC;
			font-size: 14px;
			input {
				outline: none;
			    border: none;
			    margin-left: 10px;
			    border-bottom: 1px dotted #ddd;
			    width: 378px;
			    font-family: AVERTATHINITALIC;
			}
		}
		.box-answer-item {
			width: 28px;
		    height: 40px;
		    border: 1px solid #bef390;
		    border-radius: 2px;
		    float: left;
		    color: gray;
		    font-family: MYRIADPRO;
		    text-align: center;
		    line-height: 40px;
		    position: relative;
		}
		.box-result-question {
			float: right;
			margin-right: 100px;
			margin-top: -25px;
			.box-answer-item {
				margin-left: 1px;
			}
		}
		.box-answer-item.active {
			background: #aad881;
			border-color: #aad881;
		}
		.box-answer-container {
			float: right;
			width: 450px;
			.box-answer {
			    overflow: auto;
			    margin-left: 30px;
			    padding-left: 30px;
			    margin-top: 30px;
			    height: 44px;
			    margin: 0;
			    margin-bottom: 6px;
			    padding-top: 22px;
			}
			.box-answer .suggest:after {
				width: 28px;
			    height: 38px;
			    position: absolute;
			    left: 0px;
			    top: 0px;
			    font-family: MYRIADPRO;
			    background: white;
			}
			.box-answer-1 .suggest-1:after {
				content: "N"
			}
			.box-answer-1 .suggest-2:after {
				content: "G"
			}
			.box-answer-2 .suggest:after {
				content: "I"
			}
			.box-answer-3 .suggest:after {
				content: "Â"
			}
			.box-answer-4 .suggest:after {
				content: "N"
			}
			.box-answer-5 .suggest:after {
				content: "Ư"
			}
			.box-answer-6 .suggest:after {
				content: "N"
			}
			.filled:after {
				display: none !important;
			}
			.box-answer-2 {
				padding-left: 120px;
			}
			.box-answer-3 {
				padding-left: 150px;
			}
			.box-answer-4 {
				margin-left: 0;
				padding-left: 0px;
			}
			.box-answer-5 {
				padding-left: 60px !important;
			}
			.box-answer-6 {
				padding-left: 180px;
			}
		}
		.question-title {
			color: #029a1a;
			text-align: center;
			font-size: 22px;
			font-family: AVERTABOLD;
		}
		.box-question {
			p {
				color: #034910;
				font-family: AVERTALIGHT;
				font-size: 12px;
			}
			input {
				border: none;
			    width: 100%;
			    font-family: AVERTALIGHT;
			    outline: none;
			    border-bottom: 1px solid #ddd;
			}
		}
		.stt {
			font-family: AVERTABOLD;
			margin-right: 6px;
		}
	}
	#banner {
		position: relative;
		.logo-text-intro {
			position: absolute;
			left: 220px;
			margin-top: 15px;
			.text-sub {
				font-family: Arial;
			    color: white;
			    margin: 0;
			}
			.text-main {
				font-family: UTMFLAVOUR;
			    color: white;
			    font-size: 28px;
			    margin: 0;
			    margin-top: -5px;
			}
		}
		.banner-image {
			width: 100%;
		}
		.logo {
			position: absolute;
		    right: 200px;
		    top: 20px;
		    img {
		    	height: 40px;
		    	margin-right: 20px;
		    }
		}
		.header-image-1 {
			position: absolute;
		    height: 230px;
		    right: 0;
		    top: 0;
		}
		.header-image-5 {
			height: 600px;
		    position: absolute;
		    right: 0;
		    bottom: -440px;
		    z-index: -1;
		}
		.header-image-2 {
			position: absolute;
		    top: 20px;
		    height: 120px;
		}
		.happy-container {
			position: absolute;
			text-align: center;
			bottom: 60px;
			left: 200px;
			img {
				width: 300px;
			}
			p {
				font-family: MYRIADPRO;
				color: white;
				font-size: 13px;
			}
		}
	}

	@media screen and (min-width: 1300px) {
	    .banner-image {
	    	margin-top: -15px;
	    }
	    .logo-text-intro {
	    	margin-top: 10px !important;
	    }
	    .logo {
	    	top: 15px !important;
	    }
	}

	@media screen and (min-width: 1600px) {
		.banner-image {
	    	margin-top: -25px;
	    }
	}

	@media screen and (min-width: 1600px) {
		.banner-image {
	    	margin-top: -40px;
	    }	
	}

	.popup {
		position: fixed;
	    background: #6dbd4a;
	    top: calc(50% - 58px);
	    padding: 15px 160px;
	    border-radius: 10px;
	    left: calc(50% - 262px);
	    text-align: center;
	    -webkit-box-shadow: 0px -1px 33px -8px rgba(0,0,0,0.74);
		-moz-box-shadow: 0px -1px 33px -8px rgba(0,0,0,0.74);
		box-shadow: 0px -1px 33px -8px rgba(0,0,0,0.74);
		display: none;
		.popup-title {
			font-family: AVERTALIGHTITALIC;
			color: white;
			font-size: 20px;
		}
		.btn-close {
			background: #029a47;
		    font-family: AVERTALIGHT;
		    color: white;
		    border: none;
		    width: 100px;
		    height: 24px;
		    border-radius: 14px;
		    cursor: pointer;
		}
		.image-close {
			position: absolute;
		    right: -8px;
		    height: 36px;
		    top: -10px;
		    cursor: pointer;
		}
	}
}

#banner-mobile {
	.banner-image {
		width: 100%;
	}
	.logo-text-intro {
		position: absolute;
		top: 10px;
		left: 10px;
		.text-main {
			font-family: UTMFLAVOUR;
		    color: white;
		    font-size: 24px;
		    margin: 0;
		    margin-top: -5px;
		}
	    .text-sub {
	    	font-family: Arial;
		    color: white;
		    margin: 0;
		    font-size: 15px;
	    }
	}
	.logo {
		position: absolute;
    	right: 10px;
    	top: 15px;
    	img {
    		width: 58px;
    	}
    	.image-logo-2 {
    		width: 100px;
    	}
	}
}

#question-box-container-mobile {
	padding: 6px;
	padding: 6px;
	.question-intro {
	    background-color: #dbebc2;
	    padding: 15px 20px;
	    color: #073a0f;
	    font-family: AVERTALIGHTITALIC;
	    font-size: 15px;
	    text-align: center;
	}
	.question-title {
	    color: #029a1a;
	    text-align: center;
	    font-size: 16px;
	    font-family: AVERTABOLD;
	}
	.title-question-mobile {
		font-family: AVERTALIGHT;
		font-size: 15px;
		color: #034910;
	}
	.enter-question-mobile {
		margin-top: 10px;
		margin-bottom: 10px;
		input {
			border: none;
		    width: 100%;
		    font-family: AVERTALIGHT;
		    outline: none;
		    border-bottom: 1px solid #ddd;
		    font-size: 14px;
		}
	}
	.question-box-mobile {
		padding: 4px;
	}
	.box-answer-mobile, .box-result-question-mobile {
		margin-bottom: 15px;
		text-align: center;
		display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: center;
	}
	.box-answer-mobile-item {
		width: 20px;
		height: 32px;
	    border: 1px solid #bef390;
	    border-radius: 2px;
	    color: gray;
	    font-family: MYRIADPRO;
	    text-align: center;
	    line-height: 32px;
	    position: relative;
	    &.active {
	    	background: #aad881;
	    	border-color: #aad881;
	    }
	    &:after {
			position: absolute;
		    width: 20px;
		    height: 32px;
		    text-align: center;
		    left: 0;
		    top: 0px;
		    line-height: 32px;
		}
	}
	.box-answer-1 .suggest-1:after {
		content: "N"
	}
	.box-answer-1 .suggest-2:after {
		content: "G"
	}
	.box-answer-2 .suggest:after {
		content: "I"
	}
	.box-answer-3 .suggest:after {
		content: "Â"
	}
	.box-answer-4 .suggest:after {
		content: "N"
	}
	.box-answer-5 .suggest:after {
		content: "Ư"
	}
	.box-answer-6 .suggest:after {
		content: "N"
	}
	.filled:after {
		display: none !important;
	}
	.number-user {
		border-bottom: 1px dotted #ddd !important;
	}

	.box-result-question-mobile {
		margin-top: 10px;
		.active {
			margin-left: 1px;
		}
	}
}
#information-user-mobile {
	background-image: url(../image/mobile/background_information_user.png);
	padding: 20px 30px;
    background-size: cover;
    .validate-error {
		color: #f92020;
	    text-align: center;
	    margin: 0;
	    margin-top: 8px;
	    font-family: MYRIADPRO;
	    display: none;
	}
	.title-information {
		color: #029a1a;
	    font-family: AVERTABOLD;
	    text-transform: uppercase;
	    text-align: center;
	    font-size: 18px;
	}
	.input-group-mobile {
		margin-bottom: 10px;
		.label {
			font-family: AVERTALIGHT;
		    color: #015d12;
		    display: block;
		    font-size: 15px;
		    text-align: left;
		    margin-bottom: 8px;
		    padding-left: 6px;
		    margin-top: 0px;
		}
		input {
			font-family: AVERTALIGHT;
		    background: white;
		    border: none;
		    border-radius: 2px;
		    height: 24px;
		    padding: 6px;
		    width: 100%;
		    outline: none;
		}
		.input-group-mobile-left {
			width: 69%;
			padding-right: 6px;
		}
		.input-group-mobile-right {
			width: 25%;
			float: right;
			padding-left: 6px;
		}
	}
	.btn-complete-mobile {
		background: #029a1a;
	    font-family: AVERTAEXTRATHIN;
	    color: white;
	    text-align: center;
	    margin: auto;
	    height: 30px;
	    line-height: 30px;
	    font-size: 15px;
	    cursor: pointer;
	    margin-top: 20px;
	    width: calc(100% + 12px);
	}
}

#join-container-mobile {
	background-image: url(../image/join_background.png);
    position: relative;
    background-size: cover;
    padding: 40px 10px;
    .join-box {
    	padding: 10px;
    	background: white;
    	margin-bottom: 10px;
    	p {
    		color: #a5a5a5;
		    font-family: AVERTAREGULAR;
		    font-size: 14px;
		    margin-top: 4px;
		    margin-bottom: 4px;
		    line-height: 18px;
		    a {
		    	color: #3b96f7;
		    }
    	}
    	.join-box-title {
    		background: #bdda90;
		    color: white;
		    font-family: AVERTAREGULAR;
		    display: inline-block;
		    width: 200px;
		    padding-left: 10px;
		    padding-top: 4px;
		    padding-bottom: 4px;
		    border-radius: 4px;
		    margin-bottom: 15px;
		    font-size: 18px;
    	}
    }
    .image-join-mobile-1 {
    	position: absolute;
	    right: 0px;
	    top: 0;
	    height: 160px;
    }
    .image-join-mobile-2 {
    	height: 130px;
	    position: absolute;
	    bottom: -44px;
	    left: 0;
    }
}

#prize-container-mobile {
	.intro {
		margin-top: 30px;
		.intro-title {
			font-family: AVERTALIGHT;
		    color: #034910;
		    font-size: 13px;
		    clear: both;
		}
		.intro-item {
			text-align: center;
			img {
				width: 120px;
				margin: auto;
			}
		}
		.intro-1 {
			img {
				width: 80px;
				display: inline-block !important;
				margin-left: 10px;
				margin-top: 25px;
				margin-bottom: 2px;
			}
		}
		.intro-3 {
			img {
				margin-bottom: 20px;
			}
		}
		.intro-4 {
			img {
				margin-bottom: 24px;
			}
		}
	}
	.prize-list {
		overflow: auto;
		.prize-item {
			width: 50%;
			float: left;
			text-align: center;
			.prize-title {
				font-family: AVERTAREGULAR;
			    color: #029a1a;
			    font-size: 22px;
			    margin-bottom: 0;
			}
			.prize-title-sub {
				font-family: AVERTAREGULAR;
			    color: #029a1a;
			    margin-top: 4px;
			    font-size: 14px;
			}
			&.prize-1 {
				img {
					width: 140px;
				}
			}
			&.prize-2 {
				img {
					width: 80px;
					margin-bottom: 4px;
				}
			}
			&.prize-3 {
				img {
					height: 100px;
    				margin-top: 40px;
				}
			}
			&.prize-4 {
				img {
					width: 160px;
					margin-top: 14px;
				}
				.prize-title-sub {
					font-size: 11px;
				}
			}
		}
	}
	.prize-rule {
	    font-family: AVERTABOLD;
	    color: #029a1a;
	    text-align: center;
	    text-transform: uppercase;
	    font-size: 20px;
	    margin-top: 60px;
	}
}


@media screen and (min-width: 868px) {
    .only-mobile {
        display: none;
    }
}

@media screen and (max-width: 868px) {
    footer {
    	.social-list {
    		margin-right: 100px !important;
    	}
    }
    .only-desktop {
    	display: none;
    }
}

.popup-mobile {
	position: fixed;
    background: #6dbd4a;
    top: calc(50% - 58px);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 80%;
    left: 10%;
    text-align: center;
    -webkit-box-shadow: 0px -1px 33px -8px rgba(0, 0, 0, 0.74);
    box-shadow: 0px -1px 33px -8px rgba(0, 0, 0, 0.74);
    display: none;
    .popup-title {
		font-family: AVERTALIGHTITALIC;
		color: white;
		font-size: 20px;
	}
	.btn-close {
		background: #029a47;
	    font-family: AVERTALIGHT;
	    color: white;
	    border: none;
	    width: 100px;
	    height: 24px;
	    border-radius: 14px;
	    cursor: pointer;
	}
	.image-close {
		position: absolute;
	    right: -8px;
	    height: 36px;
	    top: -10px;
	    cursor: pointer;
	}
}