@font-face {
    font-family: MYRIADPRO;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

body {
	margin: 0;
	padding: 0;
	footer {
		background: #029a47;
		height: 50px;
	}
	#prize-container {
		padding-top: 50px;
		width: 80%;
		margin: auto;
		background: white;
		overflow: auto;
		.intro {
			.intro-item {
				float: left;
				text-align: center;
				width: 20%;
			}
			.intro-title {
				font-family: MYRIADPRO;
				color: #034910;
				font-size: 13px;
			}
			.intro-4 {
				img {
					height: 80px;
					margin-top: 10px;
				}
			}
			.intro-3 {
				img {
					height: 90px;
				}
			}
			.intro-2 {
				img {
					height: 100px;
				}
				p {
					margin-top: 4px;
				}
			}
			.intro-1 {
				width: 40%;
				img {
					height: 70px;
					margin-top: 20px;
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
		.prize {
			clear: both;
			padding-top: 1px;
			.prize-item {
				float: left;
				text-align: center;
				width: 25%;
			}
			.prize-title {
				font-family: MYRIADPRO;
				color: #029a1a;
				font-size: 22px;
				margin-bottom: 0;
			}
			.prize-title-sub {
				font-family: MYRIADPRO;
				color: #029a1a;
				margin-top: 4px;
				font-size: 14px;
			}
			.title-prize {
				font-family: MYRIADPRO;
				font-size: 16px;
				margin-bottom: 60px;
				margin-top: 60px;
			}
			.prize-1 {
				img {
					width: 140px;
					margin-top: -10px;
				}
			}
			.prize-2 {
				img {
					height: 120px;
				}
			}
			.prize-3 {
				img {
					height: 80px;
    				margin-top: 40px;
				}
			}
			.prize-4 {
				img {
					height: 120px;
				}
				.prize-title-sub {
					font-size: 12px;
				}
			}
			.prize-demo-text {
				font-family: MYRIADPRO;
				color: #838383;
				text-align: center;
				font-size: 16px;
			}
			.prize-rule {
				font-family: MYRIADPRO;
				color: #029a1a;
				text-align: center;
				text-transform: uppercase;
				font-size: 22px;
    			margin-top: 60px;
			}
		}
	}
	#join-container {
		background-image: url(../image/join_background.png);
		height: 600px;
		position: relative;
		.flower-join-1 {
		    position: absolute;
		    top: 0;
		    right: 0;
		    height: 340px;
		}
		.flower-join-2 {
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    height: 300px;
		}
		.join-box {
			width: 580px;
			background: white;
			border-radius: 4px;
			padding: 20px 50px 30px 30px;
			position: absolute;
	    	top: 60px;
	    	left: 200px;
			.join-box-title {
				background: #bdda90;
				color: white;
				font-family: MYRIADPRO;
				display: inline-block;
			    width: 200px;
			    padding-left: 10px;
			    padding-top: 4px;
			    padding-bottom: 4px;
			    border-radius: 4px;
			    margin-bottom: 20px;
			}
			p {
				color: #029a47;
				font-family: MYRIADPRO;
				font-size: 13px;
				margin-top: 4px;
				margin-bottom: 4px;
			}
		}
		.join-box-2 {
			top: 370px;
    		left: 360px;
    		p {
    			color: #a5a5a5;
    		}
    		.bottle-join-box {
    			position: absolute;
			    height: 140px;
			    left: -110px;
			    top: 40px;
    		}
		}
		.ball-join-1 {
			position: absolute;
		    height: 105px;
		    right: -145px;
		    top: 75px;
		    z-index: 1;
		}
		.ball-join-2 {
			position: absolute;
		    height: 140px;
		    top: 135px;
		    right: -105px;
		}
		.leaf-join-1 {
			height: 110px;
		    position: absolute;
		    top: 160px;
		    right: -75px;
		}
		.leaf-join-2 {
			position: absolute;
		    height: 75px;
		    right: -130px;
		    top: 95px;
		    z-index: 1;
		}
	}
	#information-user {
		background-image: url(../image/background_information_user.png);
		background-size: cover;
		height: 300px;
		padding-top: 20px;
		.btn-complete {
			background: #029a1a;
			font-family: MYRIADPRO;
			color: white;
			width: 280px;
		    text-align: center;
		    margin: auto;
		    height: 30px;
		    line-height: 30px;
		    border-radius: 4px;
		    font-size: 13px;
		}
		.title-information {
			color: #029a1a;
			font-family: MYRIADPRO;
			text-transform: uppercase;
			text-align: center;
			font-size: 22px;
		}
		.box-input {
			margin-bottom: 10px;
			span {
				font-family: MYRIADPRO;
				color: #015d12;
				display: block;
				font-size: 15px;
				text-align: left;
    			padding-left: 35px;
			}
			input {
				background: white;
			    border: none;
			    border-radius: 2px;
			    height: 25px;
			    width: 280px;
			    padding-left: 10px;
			    padding-right: 10px;
			    outline: none;
			}
		}
		form {
			width: 700px;
		    margin: auto;
		    overflow: auto;
		    margin-top: 20px;
		    .form-group-left, .form-group-right {
		    	width: 50%;
		    	float: left;
		    	text-align: center;
		    }
		}
		.box-input-item {
			span {
				font-family: MYRIADPRO;
				color: #015d12;
				display: block;
				font-size: 15px;
				text-align: left;
			}

			input {
				background: white;
			    border: none;
			    border-radius: 2px;
			    height: 25px;
			    width: 170px;
			    padding-left: 10px;
			    padding-right: 10px;
			    outline: none;
			}
		}
		.cmnd {
			float: right;
    		margin-right: 25px;
    		input {
    			width: 80px;
    		}
		}
	}
	#header-top {
		background: #70ba54;
		height: 600px;
		.logo {
			position: absolute;
		    right: 200px;
		    top: 20px;
		    img {
		    	height: 40px;
		    	margin-right: 20px;
		    }
		}
		.header-image-1 {
			position: absolute;
		    height: 200px;
		    right: 0;
		    top: 0;
		}
		.header-image-2 {
			position: absolute;
		    top: 20px;
		    height: 120px;
		}
	}
}